a, a:hover{
    text-decoration: none;
    color:white;
}
#logo{
    margin-top: -10px;
}

.alerta_todo {
    background-color: #EE6539;
    position: relative;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 25px;
    overflow: hidden;
}

#alerta {
    float: left;
    width: 97%;
    padding-top: 3px;
}

#div_close_icon {
    position: relative;
    width: 3%;
    float: left;
}

.close_icon{
    position: relative;
}

.div_footer{
    background-color: #EE6539;
}

.holds_the_iframe{
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1,h2,h3,h4 {
    color: #EE6539;
    font-weight: bold;
}

.jumbotron {
    padding-bottom: 15px;
    padding-top: 20px;
}

#foot_div{
    background-color: #EE6539;
    border-radius: 6px;
}

.footer_section{
    position: relative;
    width: 32%;
    background-color:white;
    float: left;
}

.footer_line{
    background-color: #EE6539;
}
/*
#alerta, #div_close_icon
{
    display:inline;
}
*/
/*
#foot {
    background-color: black;
    color: #FFF;
    height:100px;
    width: 100%;
    position: absolute;
    bottom:0%;
    margin-bottom:0px;
}
#foot_div{
    padding:10px;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    width:90%;
    color: #FFF;
    position: relative;
}
*/